<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h3>로그인</h3>
<form action="/wallet/signIn" method="post">
    <table>
        <tr>
            <td>email : </td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>password : </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="sign in"></td>
        </tr>
    </table>
</form>
<form action="/wallet/signUp" method="get">
    <input type="submit" value="sign up" action>
</form>
</body>
</html>