<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= data[0].USER_NM%> 님의 ETHEREUM 지갑</title>
</head>
<body>
<h3><%= data[0].USER_NM%> 님의 ETHEREUM 지갑</h3>
    <table>
        <tr>
            <td>ETHEREUM 잔액 : </td>
            <td><input type="text" name="eth_balance"> eth</td>
        </tr>
    </table>
</body>
</html>